body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

#logo {
    width: 60px;
    margin-right: 20px;
}

.menu-text {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    justify-content: center;
}

.menu-text p {
    margin: 0;
    font-size: 14px;
}

#busca {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    color: rgb(117, 117, 117);
    padding: 0 10px;
    border-radius: 8px;
    height: 35px;
    width: 300px;
}

#busca img {
    width: 20px;
    margin-right: 10px;
}

#busca p {
    margin: 0;
    font-size: 15px;
}

#carrinho {
    width: 30px;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.produto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.produto-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.produto-item div {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto-item h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.produto-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
