@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 2px solid rgba(179, 179, 179, 0.486);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

#logo {
    width: 60px;
    margin-right: 20px;
}

.menu-text {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    justify-content: center;
}

.menu-text p {
    margin: 0;
    font-size: 14px;
}

.menu-text p:hover {
    cursor: pointer;
}

#busca {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    color: rgb(117, 117, 117);
    padding: 0 10px;
    border-radius: 8px;
    height: 35px;
    width: 350px;
    margin-right: 80px;
}

input#busca{
    border: 1px, solid gray;
    background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-5.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 22px;
}

#carrinho-link {
    position: relative;
    display: flex;
    align-items: center;
}

#carrinho {
    width: 30px;
    margin-right: 10px;
}

#contador-carrinho {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

#login {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border: .5px solid rgb(209, 209, 209);
    margin-left: 20px;
    border-radius: 8px;
    width: 85px;
    height: 35px;
    text-decoration: none;
    color: black;
    justify-content: center;
}

#login:hover {
    background-color: #c8c8c8;
}

abbr {
    text-decoration: none;
}

/* Menu Lateral do Carrinho */
.adicionar-carrinho{
    background-color: rgb(218, 218, 218);
    border: 1px solid grey;
    border-radius: 4px;
}

.adicionar-carrinho:hover{
    background-color: rgb(191, 191, 191);
    cursor: pointer;
}

.menu-carrinho {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: 0.5s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.menu-carrinho-header {
    padding: 20px;
    background-color: #e0e0e0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-carrinho-header h2 {
    margin: 0;
    font-size: 24px;
}

.menu-carrinho-header span {
    font-size: 30px;
    cursor: pointer;
}

.menu-carrinho-corpo {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #ffffff;
}

.produto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.produto-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.produto-item div {
    flex-grow: 1;
    background-color: #efefef;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto-item h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.produto-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

button.remover-item-carrinho{
    background-color: rgba(255, 0, 0, 0.412);
    border: 1.3px solid rgba(128, 128, 128, 0.634);
    border-radius: 4px;
}

button.remover-item-carrinho:hover{
    background-color: rgba(255, 0, 0, 0.549);
    cursor: pointer;
}

.menu-carrinho-footer {
    padding: 20px;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finalizar-compra {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#finalizar-compra:hover {
    background-color: #218838;
}
